@using Haliyikama.ViewModels
@{ 
	var counter = 0;
	var counter2 = 0;

	}
<section>
	<div class="container">
		<div class="row ">
			<div class="col-sm-3 col-xs-12 blue-light ">
				<div class="image-wrapper " id="offer">
					<div class="text-centerlize">
						<h1>Halı Yıkama</h1>

						<h1>50%</h1>

						<h1>Indirim</h1>
					</div>

				</div>
			</div>
			<div class="col-sm-9 col-xs-12 ">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">



					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						@foreach (var carousel in Model.Carouseller)
								{
									counter++;
									<div class="item @(counter==1?"active":"")">
								   <img src="@carousel.ImageUrl" alt="Los Angeles" style="width:100%;">
							</div>


						}


					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>


		</div>
	</div>


</section>

<section>
	<div class="container-fluid section-video">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row">
						<div class='col-md-offset-2 col-md-8 text-center'>
							<h2>Referenslerimiz</h2>
						</div>
					</div>
					<div class="carousel slide" data-ride="carousel" id="quote-carousel">


						<!-- Carousel Slides / Quotes -->
						<div class="carousel-inner">

							@foreach(var referens in Model.Referensler)
									{
										counter2++;
							<div class="item @(counter2==1?"active":"")">
								<blockquote>
									<div class="row">
										<div class="col-sm-3 text-center">
											<img class="img-circle" src="@referens.ImageURL" style="width: 100px;height:100px;">
											<!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
										</div>
										<div class="col-sm-9">
											<p>@referens.Text</p>
											<small>@referens.Name</small>
										</div>
									</div>
								</blockquote>
							</div>
							}
						</div>

						<!-- Carousel Buttons Next/Prev -->
						<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
						<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
					</div>
				</div>

			</div>
		</div>

	</div>


</section>

<section class="team-sec">
	<div class="container">
		<h1 class="text-center">HIZMETLERIMIZ</h1>
		<p class="home-paragraph text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever since the 1500s, when an</p>
		<div class="row row-flex">
			<div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
				<div class="carousel-line">
					<div class="controls pull-right">
						<a class="left fa fa-angle-left btn" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#carousel-example" data-slide="next"></a>
					</div>
				</div>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row ">
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/4.jpg" alt="User one">
									</div>
									<div class="info">
										<div class="name">Rohit Sharma</div>
										<div class="degination">Director</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/5.jpg" class="img-responsive" alt="Charles John">
									</div>
									<div class="info">
										<div class="name">Giselle Childs</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/6.jpg" class="img-responsive" alt="Charlotte Law">
									</div>
									<div class="info">
										<div class="name">Scott Collier</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/7.jpg" alt="Coleman Harmon">
									</div>
									<div class="info">
										<div class="name">Notary</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/4.jpg" class="img-responsive" alt="Charles John">
									</div>
									<div class="info">
										<div class="name">Giselle Childs</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/5.jpg" alt="Coleman Harmon">
									</div>
									<div class="info">
										<div class="name">Notary</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/6.jpg" class="img-responsive" alt="Charlotte Law">
									</div>
									<div class="info">
										<div class="name">Scott Collier</div>
										<div class="degination">Expert Agent</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12">
								<div class="col-item">
									<div class="photo-shadow"></div>
									<div class="photo">
										<img src="~/Images/7.jpg" alt="User one">
									</div>
									<div class="info">
										<div class="name">Rohit Sharma</div>
										<div class="degination">Director</div>

										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="servisler">

	<div class="container">
		<hr />
		<div class="row">
			<div class="col-sm-6 col-xs-12 s-header">
				<h1 class="float-left">SERVİSLER</h1>
			</div>
			<div class="col-sm-6 col-xs-12 s-header">
				<h1 class="float-right ">0212 0212 00 00</h1>
			</div>


		</div>
		<hr />
		<div class="row bolge_container">

			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Arnavutköy</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Ataşehir</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Avcılar</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Bağcılar</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Bakırköy</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Başakşehir</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Bayrampaşa</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Beşiktaş</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Beykoz</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Beylikdüzü</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Beyoğlu</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Büyükçekmece</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Çatalca</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Çekmeköy</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Esenler</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Eyüp</a>
			</div><div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Fatih</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Gaziosmanpaşa</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Güngören</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">İstanbul</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Kadıköy</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Kağıthane</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Kartal</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Küçükçekmece</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Maltepe</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Pendik</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Sancaktepe</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Sarıyer</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Şile</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Silivri</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Şişli</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Sultanbeyli</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Sultangazi</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Tuzla</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Ümraniye</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Üsküdar</a>
			</div>
			<div class="servis_bolge col-xs-6 col-md-15  isotope-item servis-bolge">
				<a href="/servis/istanbul-arnavutkoy-hali-yikama">Zeytinburnu</a>
			</div>
		</div>


	</div>
</section>

<section>
	<div class="container">
		<hr />
		<div class="row">
			<div class="col-sm-12 col-xs-12 s-header">
				<h1 class="float-left">YIKAMA AŞAMALARI</h1>
			</div>



		</div>
		<hr />
		<div class="row">
			<div class=" hidden-xs text-center"></div>


			<div class="col-sm-2 col-xs-4 steps">
				<span class="glyphicon glyphicon-briefcase"></span>
				<h4>Toz Alma</h4>
			</div>

			<div class="col-sm-2  col-xs-4 steps">
				<span class="glyphicon glyphicon-search"></span>
				<h4>Yıkama</h4>
			</div>

			<div class="col-sm-2  col-xs-4 steps">
				<span class="glyphicon glyphicon-pencil"></span>
				<h4>Sıkma</h4>
			</div>

			<div class="col-sm-2  col-xs-4 steps">
				<span class="glyphicon glyphicon-cog"></span>
				<h4>Kurutma</h4>
			</div>
			<div class="col-sm-2  col-xs-4 steps">
				<span class="glyphicon glyphicon-send"></span>
				<h4>Deliver</h4>
			</div>
			<div class="col-sm-2 col-xs-4 steps">
				<span class="glyphicon glyphicon-send"></span>
				<h4>Deliver</h4>
			</div>

		</div>
	</div>

</section>