@using Haliyikama.ViewModels
@using Haliyikama.Data.Models
@{ var data = Model.iletisim;}

@{

	var a = ((IEnumerable<Iletisim>)Model.iletisim).Cast<dynamic>();

	var query = (from p in a
				 where p.IletisimId == 1

				 select p).ToList().First();

}
<div class="container-fluid Banner-Backgroun">
	<div class="container">
		<div class="jumbotron">
			<h1>İLETİŞİM </h1>
			<p>Değerli Arnavutköy sakinleri, yaşam alanlarınızda bulunan her cins ve her ebattaki halıların temizleme </p>

		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">İletişim</li>
			</ul>
		</div>
	</div>

</div>
<section class="contactus-one" id="contactus">
	<!-- Section id-->
	<div class="container">

			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="map">
						<iframe src="@query.MapLink" height="580"></iframe>
					</div>
				</div>
				<div class=" col-md-5 col-sm-12 col-xs-12">
					<div class="contact-block">
						<div class="dart-headingstyle-one dart-mb-20">
							<!--Style 1-->
							<h2 class="dart-heading">Bize Ulaşın</h2>
						</div>

						<div class="contact-form">
							<!-- contact form -->
							<form class="row" action="send_email.php" id="contact" name="contact" method="post">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Adınız" required>
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" name="InputEmail" id="InputEmail" placeholder="Telefon" required>
								</div>
								<div class="form-group col-md-12">
									<input type="email" class="form-control" name="InputWeb" id="InputWeb" placeholder="E-Posta">
								</div>
								<div class="form-group col-md-12">
									<textarea class="form-control" name="InputMessage" id="InputMessage" rows="4" placeholder="Mesaj" required></textarea>
								</div>
								<div class="col-md-12">
									<button name="submit" type="submit" class="btn normal-btn dart-btn-xs">Gönder</button>
								</div>
							</form>
						</div>

						<hr>

						<div class=" row contact-info">
							<div class="col-md-12 col-sm-12">
								<p class="addre"><i class="fa fa-map-marker"></i>@query.Address</p>
							</div>
							<div class="col-md-12 col-sm-12">
								<p class="phone-call"><i class="fa fa-phone"></i> <a href="tel:+10484579845">@query.Phone1</a></p>
							</div>
							<div class="col-md-12 col-sm-12">
								<p class="phone-call"><i class="fa fa-phone"></i> <a href="tel:+10484579845">@query.Phone2</a></p>
							</div>
							<div class="col-md-12 col-sm-12">
								<p class="mail-id"><i class="fa fa-envelope"></i>@query.Email</p>
							</div>
						</div>





					</div>
				</div>
			</div>
		
	</div>
</section> 