@using Haliyikama.ViewModels
@using Haliyikama.Data.Models

@{


	var ilce = Model.ilce;
	

}
<div class="container-fluid Banner-Backgroun">
	<div class="container">
		<div class="jumbotron">
			<h1>@ilce.Name</h1>
			<p>@ilce.ShortDescription </p>

		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/servis">Servisler</a></li>
				<li class="active">@ilce.Name</li>
			</ul>
		</div>
	</div>


</div>
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-md-9">
				
				<p>@ilce.LongDescription </p>
				
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="single category" style="text-align:center">
					<h3 class="side-title">Semtler</h3>
					<ul class="list-unstyled">
						@foreach (var m in ilce.Semtler)
						{
							<li><a href="#">@m.Name</a></li>
						}



					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

