@using Haliyikama.ViewModels
@using Haliyikama.Data.Models
@{
	var counter = 0;
	var counter2 = 0;

}
@{

	var a = ((IEnumerable<Ayarlar>)Model.Ayarlar).Cast<dynamic>();

	var query = (from p in a
				 where p.Id == 1

				 select p).ToList().First();

}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" runat="server" />
	<link href="~/Content/site.css" rel="stylesheet" runat="server" />
	<script src="~/lib/jquery/dist/jquery.js" runat="server"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js" runat="server"></script>
	<script src="https://use.fontawesome.com/f12e4a6b3c.js"></script>
	<title>Halı Yıkama</title>
	<script>
		// When the DOM is ready, run this function
		$(document).ready(function () {
			//Set the carousel options
			$('#quote-carousel').carousel({
				pause: true,
				interval: 4000,
			});

			$('#myCarousel').carousel({
				interval: 10000
			})

		});


	</script>
	<script>

        $(function () {
            $('.pnm, .price, .subtot, .grdtot').prop('readonly', false);
            var $tblrows = $("#mytable tbody tr");

            $tblrows.each(function () {
                var $tblrow = $(this);

                $tblrow.find('.price').on('change', function () {

                    var qty = $tblrow.find("[name=qty]").val()/100;
                    var price = $tblrow.find("[name=price]").val()/100;
                    var subTotal = parseInt(qty, 10) * parseFloat(price);
                    var hizmetfiyat = $tblrow.find("[name=hizmettibi]").val();
                    var sonFiyat = parseInt(subTotal, 10) * parseInt(hizmetfiyat, 10);
                    
                    if (!isNaN(subTotal)) {

                        $tblrow.find('.subtot').val(subTotal.toFixed(2));
                        $tblrow.find('.sonfiyat').val(sonFiyat.toFixed(2));
                        var grandTotal = 0;

                        $(".sonfiyat").each(function () {
                            var stval = parseFloat($(this).val());
                            grandTotal += isNaN(stval) ? 0 : stval;
                        });

                        $('.grdtot').val(grandTotal.toFixed(2));
                    }
                });
            });
        });
       

    </script>

	
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	

	<link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.min.css'>

	<style class="cp-pen-styles">
		.flickity-prev-next-button.previous {
			left: -30px;
		}

		.flickity-prev-next-button.next {
			right: -30px;
		}

		.flickity-prev-next-button .arrow {
			fill: #F5F7FA;
		}

		.flickity-prev-next-button {
			background-color: #434A54;
			width: 38px;
			height: 38px;
		}

			.flickity-prev-next-button:hover {
				background-color: #656D78;
			}
	</style>
</head>
<body>
	<!--Main Navigation-->
	<header>

		<nav id="navtop">
			<div class="container-fluid blue-dark">
				<!--header navbar top left -->
				<ul class="nav navbar-nav " id="nav-left">
					<li>
						<a href="#" id="a-color-nav">
							<i class="fa fa-phone" id="nav-header " aria-hidden="true"></i><span class="hidden-xs">TELEFON</span>
						</a>
					</li>
					<li>
						<a href="#" id="a-color-nav">
							<i class="fa fa-envelope-open" id="nav-header " aria-hidden="true"></i> <span class="hidden-xs">EPOSTA</span>
						</a>
					</li>

					<li>
						<a href="#" id="a-color-nav">
							<i class="fa fa-facebook" aria-hidden="true"></i><span class="hidden-xs">FACEBOOK</span>
						</a>
					</li>
					<li>
						<a href="#" id="a-color-nav">
							<i class="fa fa-instagram" aria-hidden="true"></i><span class="hidden-xs">INSTAGRAM</span>
						</a>
					</li>
					<li>
						<a href="#" id="a-color-nav">
							<i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden-xs">TWITTER</span>
						</a>
					</li>

				</ul>


			</div>
		</nav>
		<!--header navbar LOGO -->
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-3 col-xs-12">
					<div class=" col-sm-12 col-xs-6">
						<div class="text-left">
							<div class="text-left" id="logo">
								<a href="/"><img src="@query.LogoURL" alt="logo" /></a>
							</div>
						</div>
					</div>

					<div class=" col-xs-6">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
					</div>

				</div>
				<div class="col-md-4 col-xs-7">
					<ul class="nav navbar-nav nav-pills" id="nav-center">
						<li id="nav-center">

							<h1>@query.PhoneNumber1 </h1>

						</li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-2">

					<div class="text-right" id="icon-big">
						<ul class="nav navbar-nav nav-pills" id="nav-right">
							<li>
								<a href="#" id="a-color">
									<i class="fa fa-whatsapp" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-md-2 col-xs-3">
					<div class="text-right" id="nav-left">
						<div id="sign">
							<a href="/auth/login"><i class="fa fa-user"></i><span>Giriş Yap</span></a>
							<a href="/auth/register"><i class="fa fa-user-plus"></i><span>Üye Ol</span></a>

						</div>
					</div>
				</div>


				<!-- TOOGLE MAIN NAVIGATION -->
			</div>
		</div>
		<div class="container-fluid blue-light">
			<!--  MAIN NAVIGATION -->
			<div class="collapse navbar-collapse" id="main-navigation">
				<div class="container">
					<ul class="nav nav-justified nav-pills">
						<li class="active"><a href="/">ANASAYFA</a></li>
						<li><a href="/Hizmet">HİZMETLER</a></li>
						<li><a href="/servis">SERVİSLER</a></li>
						<li><a href="/bilgiler">BİLGİLER</a></li>
						<li><a href="/FiyatList">FİYAT LİSTESİ</a></li>
						<li><a href="/hakkimizda">HAKKIMIZDA</a></li>
						<li><a href="/iletisim">ILETİŞİM</a></li>
						<li><a href="/siparis" class="button" style="">Sipraiş Ver</a></li>
					</ul>

				</div>
			</div>

			<!--header navbar END -->
		</div>





	</header>

	<div class="body-content">
		@RenderBody()
	</div>
	</hr>
	<div class="container-fluid blue-dark footer-section">
		<div class="container">
			<footer class="footer-bs">
				<div class="row">
					<div class="col-md-3 footer-brand animated fadeInLeft">
						<h2>Logo</h2>
						<p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
						<p class="text-center"><a target="_blank" href="https://www.artirex.com/"> &copy; 2019 - Artirex</a></p>
					</div>
					<div class="col-md-4 footer-nav animated fadeInUp">
						<h4>Hizmetler —</h4>
						<div class="col-md-6">
							<ul class="pages">
								<li><a href="#">Hizmet 1</a></li>
								<li><a href="#">Hizmet 2</a></li>
								<li><a href="#">Hizmet 3</a></li>
								<li><a href="#">Hizmet 4</a></li>
								<li><a href="#">Hizmet 5</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list">
								<li><a href="#">Servisler</a></li>
								<li><a href="#">Hakkımızda</a></li>
								<li><a href="#">İletişim</a></li>
								<li><a href="#">Faydalı Bilgiler</a></li>

							</ul>
						</div>
					</div>
					<div class="col-md-2 footer-social animated fadeInDown">
						<h4>Bize Takip edin</h4>
						<ul>
							<li><a href="@query.FacebookURL">Facebook</a></li>
							<li><a href="@query.TwitteURL">Twitter</a></li>
							<li><a href="@query.InstagramURL">Instagram</a></li>
							<li><a href="@query.YoutubeLink">Youtube</a></li>
						</ul>
					</div>
					<div class="col-md-3 footer-ns animated fadeInRight">
						<h4>Newsletter</h4>
						<p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
						<p>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
								</span>
							</div><!-- /input-group -->
						</p>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js'></script>
	<script>
		$("#showcase").flickity({
			wrapAround: true,
			//pageDots: false
		});
//# sourceURL=pen.js
	</script>
    <script>
        $("#insert-more").click(function () {

            $('<tr><td class= "text-center"><select name="hizmettibi"><option value="10">Hali yikama</option><option value="20">Akrilik</option></select></td ><td class="text-center"><input type="text" class="qty" value="0" name="qty"/></td><td class="text-center"><input type="text" class="price" value="0" name="price" /></td><td class="text-center"><input type="text" class="subtot" value="0" name="subtot"/></td><td><input type="text" class="sonfiyat" value="0" name="sonfiyat"/></td><td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td></tr>').appendTo($("#mytable tbody"));
           /* $("#mytable").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });*/
        });
    </script>

</body>

</html>
